body {
    font-family: BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}

/* Header CSS */

li {
    display: list-item;

}

.navbar {
    height: 48px;
    align-items: top;
    border-radius: 0px;
    margin-bottom: 0px;
    min-height: 48px;
    position: fixed;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    /* Behind the navbar */
    margin-top: 48px;
    /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.navbar-brand {
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
    height: 48px;
    text-align: center;
    margin-left: -9px;
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

/* Master CSS */

.container-main {
    padding-top: 25px;
    margin-left: 250px;
    width: 75%;
    margin-right: auto;
    padding-left: 10px;
}

/* Dashboard CSS */

.card {
    margin: 5px;
    padding: 2px 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    transition: 0.3s;
    border-radius: 5px;
    text-align: center;
}

.card:hover {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .2);
    background-color: rgba(0, 0, 0, 0.05);
}

/* SignIn CSS */

.text-center {
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: auto;
    height: 100%;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    border: 1px solid #333;
    border-radius: 2px;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: 5px;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
}

/* AppBook CSS */

.float-right {
    margin-bottom: 25px;
}

.multi-btn {
    margin-right: 10px;
    margin-left: 10px;
}